
.bookmark{
	text-align: center;
	width: 100%;
	padding: 0 45px;
}


.folder{
	font-weight: bold;
	cursor: pointer;
}

.list-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.list-item{
	display: block;
	padding: 20px;
	background: #212123;
	margin: 10px;
	border-radius: 2px;

}



.column > .list-item{

	width: 100%;

}

.block > .list-item{
	width: 200px;
	height: 200px;
}

.block-style{
	display: inline-block;
	font-size: 2em;
	color: #f23e2d;
	width: 30px;
	height: 30px;
}

.filter{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 0 60px;
}

.hash-tag{
	padding-left: 60px;
}

.tags{
	padding: 5px;
	&.active{
		background: $backgroundColor;
	}
}
