
.bookmark{
	text-align: center;
	width: 100%;
	padding-top: 80px;
	height: 100%;
}



.list-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 80vh;
	overflow-y: scroll;
}

.list-item{
	display: block;
	width: 40%;
/*
	
	background: #e4e4e4;
	margin: 10px;
	padding: 35px;
	box-shadow: 4px 4px 16px #00000054;
	border-radius: 10px;*/
	transition: all .5s cubic-bezier(0.74, 0.06, 0.3, 0.9);
	a{
		display: block;
		border-radius: 10px;
		/*width: 100%;*/
		margin: 15px;
		color: #333;
		background: #e4e4e4;
		box-shadow: 4px 4px 16px #00000054;
		padding: 35px;
		&:hover{
			background: $primeBackground;
		}
	}
}



.column > .list-item{

	width: 100%;

}

.block > .list-item{
	width: 200px;
	height: 200px;
}

.block-style{
	display: inline-block;
	font-size: 2em;
	color: #f23e2d;
	width: 30px;
	height: 30px;
}

.filter{
	position: relative;
	z-index: 10;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	background: #ffffff55;
	box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.47);
	padding: 20px 60px;
}
.sorting{
	display: flex;
	align-items: center;
}

.hash-tag{
	padding-left: 60px;
}

.tags{
	padding: 5px;
	&.active{
		border-radius: 5px;
		background: $primeBackground;
	}
}
