nav.nav{
	background: $backgroundColor;
	height: 100vh;
	position: fixed;
}
.menu{
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	width: 300px;
}
.menu.hidden{
	display: none;
}
.menu__link {
	display: inline-block;
	width: 300px;
	margin: 3px;
	border-bottom: 1px solid $mainColor;
	padding: 3px;
	color: $textColor;

}

.hamburger{
	width: 40px;
	height: 40px;
	border-radius: 50% 50%;
	background: #222;
	position: absolute;
	color: #fff;
	right: -20px;
	top: 40%;
}
.hamburger__line, .hamburger__line:after, .hamburger__line:before{
	display: block;
	position: absolute;
	width: 12px;
	height: 1px;
	border-radius: 3px;
	background: #fff;

}
.hamburger__line:after, .hamburger__line:before{
	content: '';
}
.hamburger__line{
	top: 45%;
	left: 52%
}
.hamburger__line:before{
	top: 3px;
}
.hamburger__line:after{
	bottom: 3px;
}