@import 'styleParts/_variable';
@import 'styleParts/_menu';
@import 'styleParts/_todo';
@import 'styleParts/_bookmark';
@import 'styleParts/_datetime';
@import 'styleParts/_search';
@import 'styleParts/_gittop';
@import 'styleParts/_notepad';
@import 'styleParts/_rssnews';
@import 'styleParts/_footer';
@import 'styleParts/_setting';
@import 'styleParts/_weather';
/*@import '../../../node_module/font-awesome/css/font-awesome.min';*/

a{
	text-decoration: none;
	color: $lightTextColor;
}
p{
	margin: 0;
}
.wrapper{
	min-height: 100vh;
}

*:focus{
	outline: none;
}

ul,li{
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
    background: url(https://picsum.photos/1200/800);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    overflow: hidden;

}
.container{
	background: #33333366;
}
.block-s4{
	padding: 10px;
	font-size: 1em;
}
.block-s6{
	padding: 20px;
	font-size: 1.5em;
}

.today{
	position: absolute;
	font-size: 1.3em;
	color: white;
	left: 45%;
}


.main{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 100vh;
	/*overflow-y: auto;*/
	align-items: center;
}

